apiVersion: v1
kind: Service
metadata:
  name: redis-service
  namespace: mindledger
  labels:
    app.kubernetes.io/name: mindledger
    app.kubernetes.io/component: redis
spec:
  type: ClusterIP
  selector:
    app: redis
  ports:
    - port: 6379
      targetPort: 6379
      protocol: TCP
      name: redis
