apiVersion: v1
kind: Service
metadata:
  name: api-service
  namespace: mindledger
  labels:
    app.kubernetes.io/name: mindledger
    app.kubernetes.io/component: api
spec:
  type: ClusterIP
  selector:
    app: api
  ports:
    - port: 8002
      targetPort: 8002
      protocol: TCP
      name: http
