apiVersion: v1
kind: Service
metadata:
  name: api-service
  namespace: personalhub
  labels:
    app.kubernetes.io/name: personalhub
    app.kubernetes.io/component: api
spec:
  type: ClusterIP
  selector:
    app: api
  ports:
    - port: 8002
      targetPort: 8002
      protocol: TCP
      name: http
