apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: mindledger
  labels:
    app.kubernetes.io/name: mindledger
    app.kubernetes.io/component: frontend
spec:
  type: ClusterIP
  selector:
    app: frontend
  ports:
    - port: 80
      targetPort: 8080
      protocol: TCP
      name: http
