apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: personalhub
  labels:
    app.kubernetes.io/name: personalhub
    app.kubernetes.io/component: frontend
spec:
  type: ClusterIP
  selector:
    app: frontend
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
      name: http
